In [7]:
import pandas as pd

df = pd.read_csv('data.csv')
header = df.columns.values.tolist()

In [8]:
df.head()

,cum,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_ly,gdcd
0,1,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [11]:
print(header)

['cum', 'sbd', 'toan', 'ngu_van', 'ngoai_ngu', 'vat_li', 'hoa_hoc', 'sinh_hoc', 'lich_su', 'dia_ly', 'gdcd']